@media screen and (max-width: 481px) {
    .hero {
        background: url('./assets/hero-phone.jpg') no-repeat center center/cover;
    }
    
    h3{
        color: #697247;
        font-size: 30px;
        font-weight: 550;
    }

    .about {
        background: linear-gradient(to bottom, #ac5e17 75%, #FCF8EB 5%);
    }

    .about-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0; /* No gap for shared borders */
        margin: auto;
        align-items: center;
        max-width: 50vw;
        justify-content: center;
    }

    .about-images img{
        max-width: 35vw;
    }

    .contact{
        background: linear-gradient(to bottom,#FCF8EB 44%, #ac5e17 25%);
        padding: 3rem ;
        text-align: center;
        justify-content: center;
        margin-top: -6rem;
        max-width: 100vw;
    }

    .contact-grid{
        display: flex;
        flex-direction: column;
        color: #FCF8EB;
        padding: 0;
        margin:0;
    }

    .team-grid{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        max-width: 100vw;
    }

    .team-member img {
        border-radius: 50%;
        /* Make images circular */
        margin-bottom: 10px;
        /* Space between image and text */
        width: 50px;
        /* Set a fixed width */
        height: 50px;
        /* Set a fixed height */
    }
}

@media screen and (max-device-width: 941px){
    .contact{
        background: linear-gradient(to bottom,#FCF8EB 54%, #ac5e17 25%);
        padding: 3rem ;
        text-align: center;
        justify-content: center;
        margin-top: -6rem;
        max-width: 100vw;
    }

    .about-images{
        justify-content: center;
    }
}